@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.list {
  list-style-type: none;
  display: flex;
  margin-top: 5px;
}

.icon {
  border: 2px solid;
  margin-top: 10px;
  margin-right: 20px;
}

.marc::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
}

